@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  display:inline-block;
  clip-path: inset(0 12px 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -3px 0 0)
  }
}